form{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
}
.addPlayer{
    width: 50%;
}
.banner{
    background-color: #198754;
    color: #fff;
    width: 100%;
    margin: 0 0 5% 0;
}
.prompt{
    height: 100%;
}
.prompt li{
    color: white;
}